{{ with $aws := onepasswordItemFields "Amazon Web Services" -}}
[mstrzele]
aws_access_key_id     = {{ index $aws "access key id" }}
aws_secret_access_key = {{ index $aws "secret access key" }}
{{- end }}
