[alias]
	lg = "log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'"
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"

	a = add
	ci = commit
	ch = checkout
	cl = clean
	cldf = clean -df
	d = diff
	l = lg
	rb = rebase
	rbi = rebase -i
	rs = reset
	rsh = reset --hard
	rst = restore
	pl = pull
	ps = push
	psf = push --force
	psfwl = push --force-with-lease
	s = status
	st = stash
	stc = stash clear
	stp = stash pop
	stu = stash -u

[commit]
	gpgsign = true

[core]
	ignorecase = false

[credential "https://github.com"]
	helper = !gh auth git-credential

[diff]
	tool = codium

[difftool]
	prompt = false

[difftool "codium"]
	cmd = codium -nwd $LOCAL $REMOTE

[merge]
	conflictstyle = diff3
	tool = codium

[mergetool]
	keepBackup = false

[mergetool "codium"]
	cmd = codium --wait --new-window $MERGED

[pull]
	rebase = true

[push]
	default = simple

[user]
	name = {{ .name | quote }}
