#!/usr/bin/env bash

# bash-completion

source "${HOMEBREW_PREFIX}/etc/bash_completion"

# Starship

eval "$(starship init bash)"

# fzf

source "${HOME}/.fzf.bash"

# direnv

eval "$(direnv hook bash)"

# Python

eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

{{ if eq .chezmoi.os "darwin" -}}
# iTerm2

source "${HOME}/.iterm2_shell_integration.bash"

# 1Password

eval "$(op completion bash)"
{{ end -}}

# GitHub

eval "$(gh completion -s bash)"

# GitLab

eval "$(glab completion -s bash)"

# Terraform

complete -o nospace -C /opt/homebrew/bin/terraform terraform
eval "$(terraform-docs completion bash)"

# Azure

source "${HOMEBREW_PREFIX}/etc/bash_completion.d/az"

{{ if eq .chezmoi.os "darwin" -}}
# Google Cloud Platform

source "${HOMEBREW_PREFIX}/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.bash.inc"
source "${HOMEBREW_PREFIX}/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.bash.inc"
{{ end -}}

# Kubernetes

source <(kind completion bash)
source <(clusterctl completion bash)
source <(kubectl completion bash)
source <(stern --completion=bash)
source <(kustomize completion bash)
source <(helm completion bash)
source <(argocd completion bash)
source <(flux completion bash)

source "${HOME}/.aliases"
