#!/usr/bin/env zsh

unsetopt GLOBAL_RCS

path=(
  '/usr/local/sbin'
  '/usr/local/bin'
  '/usr/sbin'
  '/usr/bin'
  '/sbin'
  '/bin'
)

manpath=(
  '/usr/local/share/man'
  '/usr/share/man'
)

eval "$(/opt/homebrew/bin/brew shellenv)"

path=("$HOMEBREW_PREFIX/bin" $path)
manpath=("$HOMEBREW_PREFIX/share/man" $manpath)

path=("$HOMEBREW_PREFIX/opt/findutils/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/findutils/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/gnu-indent/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/gnu-indent/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/gnu-sed/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/gnu-tar/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/gnu-tar/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/grep/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/grep/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/gsed/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/gsed/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/libtool/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIXopt/libtool/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/make/libexec/gnubin" $path)
manpath=("$HOMEBREW_PREFIX/opt/make/libexec/gnuman" $manpath)

path=("$HOMEBREW_PREFIX/opt/openssl@3/bin" $path)

export LDFLAGS="-L$HOMEBREW_PREFIX/opt/openssl@3/lib"
export CPPFLAGS="-I$HOMEBREW_PREFIX/opt/openssl@3/include"
export PKG_CONFIG_PATH="$HOMEBREW_PREFIX/opt/openssl@3/lib/pkgconfig"

export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"
path=($GOBIN $path)

export DOTNET_ROOT="$HOMEBREW_PREFIX/opt/dotnet/libexec"

path=("${KREW_ROOT:-$HOME/.krew}/bin" $path)
path=("$HOME/bin" $path)

export PATH MANPATH

export EDITOR='vim' VISUAL='code -w'
export LANG='pl_PL.UTF-8' LC_CTYPE='pl_PL.UTF-8' LC_MESSAGES='en_US.UTF-8'
export TZ='Europe/Warsaw'

export LESS='-R' LESSHISTFILE='/dev/null'
export BAT_THEME='Nord'
export BAT_PAGER='less -RF'
export MANPAGER="sh -c 'col -b | bat -l man -p'"

export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

# https://github.com/instrumenta/kubernetes-json-schema/issues/32#issuecomment-872538205
export KUBEVAL_SCHEMA_LOCATION='https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master'

# vi:et:sw=2 ts=2 ft=zsh
