#!/bin/sh
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
/opt/homebrew/bin/brew bundle --global --cleanup

# install fzf
"$(/opt/homebrew/bin/brew --prefix)/opt/fzf/install" --key-bindings --completion --no-update-rc

# install Azure CLI DevOps extension
az extension add --upgrade --name azure-devops --yes
